# TODO(jrobbins): Update to a 2.x version of flask, which may require source
# code changes.
Flask==2.3.2
funcsigs==1.0.2
Jinja2==3.1.6
MarkupSafe==1.1.1
Werkzeug==2.2.3
click==7.1.2
itsdangerous==1.1.0
