html,body {
  height: 100%;
  margin: 0;
  font-family: 'RobotoDraft', sans-serif;
  color: hsla(0, 0%, 0%, .87);
}

core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; 
}

body /deep/ core-toolbar {
  background: #526E9C;
  color: white;
}

body /deep/ paper-tabs {
  background: #03a9f4;
  color: white;
}

#tabs {
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  margin: 10px;
}

body /deep/ a {
  text-decoration: none;
}

body /deep/ .unimportant a[href],
body /deep/ .unimportant a:visited,
body /deep/ a.unimportant[href],
body /deep/ a.unimportant:visited
{
  color: rgba(82, 110, 156, .80);
}

body /deep/ h1,
body /deep/ h2,
body /deep/ h3 {
  color: hsla(0, 0%, 0%, .59);
}

body /deep/ .unimportant,
body /deep/ #footer {
  color: hsla(0, 0%, 0%, .47);
}

body /deep/ .comma-sep::after {
  content: ", ";
}

body /deep/ .comma-sep:last-of-type::after {
  content: "";
}

body /deep/ section ~ section {
  border-top: 1px solid #ddd;
}

body /deep/ section {
  padding: .5em;
  background-color: white;
}

body /deep/ section#sources {
  padding-top: .3em;
}

body /deep/ paper-shadow.card {
  color: #333;
  background: #fefefe;
  border: 1px solid #eee;
  margin: 5px 5px 10px 5px;
  padding: 3px 6px;
  max-width: 600px;
}

body /deep/ div.card h2,
body /deep/ div.card h3 {
  margin: 5px;
  text-align: center;
  }

@media (min-width: 481px) {
  #tabs {
    width: 480px;
  }
}

html /deep/ paper-dialog::shadow #scroller {
  padding: 4px;
}
