body /deep/ .standby-tier-10  { background: #3aaf18; color: white; }
body /deep/ .standby-tier-20  { background: #8a8f08; color: white; }
body /deep/ .standby-tier-30  { background: #c0a000; color: white; }
body /deep/ .standby-tier-45  { background: #e68100; color: white; }
body /deep/ .standby-tier-60  { background: #bf360c; color: white; }
body /deep/ .standby-tier-90  { background: #dd191d; color: white; }
body /deep/ .standby-tier-120 { background: #a0120a; color: white; }
